{
  "endOfLine": "lf",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "parser": "typescript"
}